/node_modules
/public/hot
/public/storage
public/game/resources/graphics/levels/level_1/map.babylon
public/game/resources/graphics/textures/environment.env
public/game/resources/graphics/characters/player.glb
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.npm
/.cache
